:root{
    /* primary color white */
    --primary-color : #FFFFFF ;
    /* secondary color blue */
    --secondary-color: #2196F3;
    /* accent color */
    --accent-color: #1a8000;
    
    /* header color black */
    --header-color : #212121 ;
    /* text color black */
    --text-color : #757575 ;

    /* team background color */
    --team-bg-color : #F5F4FA;
    /* futer background color */
    --footer-bg-color: #2F303A;
}
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color : var(--text-color);
    background-color : var(--primary-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
footer{
    background-color: var(--footer-bg-color);
}
address {
    font-style: normal;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.studio-header {
    color: #000000;
}

.nav-list a,
.header-address a {
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-list a{
    line-height: 1.43;
    color: var(--header-color);
}
    
.header-address a{
    line-height: 1.14;
    color: inherit;
}

a.current {
    color: var(--secondary-color);
}

.focus:hover,
.focus:focus {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* Hero */
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-color);
    background-color: #2F303A;
}

.hero-button{
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-color);
    background-color: var(--secondary-color);
}
/* Section */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--header-color);
}

.hidden{
    color: var(--primary-color);
}
h3{
    color: var(--header-color);
}
.preferences h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}


.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team h3 {
    font-weight: 500;
}

/* Footer */
.studio-footer,
address .addr{
    color: var(--primary-color);
}
address .mail{
    color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color: var(--header-color);
    background-color: #F5F4FA;
}

.projects> h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--header-color);
}
.projects> p{
    font-size: 16px;
    line-height: 1.88;
}
