:root{
    /* primary color white */
    --primary-color : #FFFFFF ;
    /* secondary color blue */
    --secondary-color: #2196F3;

    /* header color black */
    --header-color : #212121 ;
    /* text color black */
    --text-color : #757575 ;

    /* team background color */
    --team-bg-color : #F5F4FA;
    /* futer background color */
    --footer-bg-color: #2F303A;
}
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color : var(--header-color);
    background-color : var(--primary-color);
}
footer{
    background-color: var(--footer-bg-color);
}

address{
    font-style: normal;
}

.studio-footer,
address .addr {
    color: var(--primary-color);
}

address .mail,
address .phone {
    color: rgba(255, 255, 255, 0.6);
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
    text-decoration: none;

    color: var(--secondary-color);
}
.studio-header{
    color: #000000 ;
}

.nav-list,
.work-list,
.address-nav,
.address-list,
.person,
.preference,
.filter-list,
.project{
    list-style: none;
}

.link,
.addr,
.mail,
.phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--header-color);
}
.address-nav .link{
    color : var(--text-color)
}
.link:hover,
.link:focus {
    color: var(--secondary-color);
}

.hero>.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-color);
    background-color: #2F303A;
}
.hero>.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}


.preferences-title,
.filter-title,
.projects-title{
    color: var(--primary-color);
}
.preference>.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--header-color);
}
.work>.title,
.team>.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--header-color);
}
.person>.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
 
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--header-color);
}

.person>.descript{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color : var(--text-color)
}
/* Портфолио */
.project>.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--header-color);
}

.project>.descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--text-color)
}

.filter-list .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--header-color);
    background-color: #F5F4FA;
}

.filter-list .button:hover,
.filter-list .button:focus{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}